@font-face{
    font-family: GOLSansDisplay;
    font-style: normal;
    src:url(GOLSansDisplay-Regular-web.ttf) format('ttf'); src:url(GOLSansDisplay-Regular.woff2) format('woff2');
    src:url(GOLSansDisplay-Regular.eot) format('eot');
    font-weight: normal;
    }

@font-face{
    font-family: GOLSansDisplay;
    font-style: normal;
    src:url(GOLSansDisplay-Bold-web.ttf) format('ttf'); src:url(GOLSansDisplay-Bold.woff2) format('woff2');
    src:url(GOLSansDisplay-Bold.eot) format('eot');
    font-weight: bold;
    }
